html, body,ul,li,button{
	margin:0;
	padding:0;
}

img{
	display:block;
	border:0;
}

button{
	border:0;
	background:0;
}
.index_slide .photo1{
	background-image: url(../images/small1.jpg);
	background-size: cover;
	background-position: center;
}
.index_slide .photo2{
	background-image: url(../images/small2.jpg);
	background-size: cover;
	background-position: center;
}
.index_slide .photo3{
	background-image: url(../images/small4.jpg);
	background-size: cover;
	background-position: center;
}

.index_slide{
	width:1440px;
	margin:0 auto;
	position: relative;
}
.index_slide ul{
	width: 4320px;
	list-style: none;
	font-size: 0;
}
.index_slide ul li{
	width: 1440px;
	height: 630px;
	display: inline-block;
}
.index_slide button.prev{
	position: absolute;
	left: 0;
	top: 292px;
}
.index_slide button.next{
	position: absolute;
	right: 0;
	top: 292px;
}

/*이곳부터 information*/
.index_information{
	width: 90%;
	margin:30px auto;
}
.index_information .section{
	width:30%;
	text-align:center;
	float: left;
	margin:0 20px;
}
