.menubar{
  padding: 0 50px;
  text-align: center;
}

.logo{
  display: inline-block;
  float: left;
  height: 70px;
}
.logo img{
  overflow: hidden;
  width: 50px;
  height: 50px;
}

.logo p{
  vertical-align: bottom;
  text-align: center;
  font-family: sans-serif;
  margin: 0px;

}

.menu{
  display: inline-block;
  text-align: center;

}

.menulist{
  list-style-type: none;
  vertical-align: top;
  height: 65px;
  padding: 0px;
  margin: 0px;
}

.menulist li{
  display: inline-block;
  float: left;
  height: 100%;
  width: 150px;

}

.menulist li a{
  display: inline-block;
  text-decoration: none;
  color:black;
  height: 65px;
  line-height: 60px;
  font-size: 18px;
  font-family: sans-serif;
  padding: 0px;

}

.menulist li a:hover{
  text-decoration-line: underline;
}

.submenu{
  padding: 0;
  display: none;
}

.submenu li a{
  font-size: 16px;
  height: 40px;
  width: 150px;
  text-decoration-line: none;
}

.sublist:hover .submenu{
  display: block;

}

.submenu li a:hover{
  text-decoration-line: none;
  background-color: lightyellow;
}
