.menubar{
  padding: 0 50px;
  text-align: center;
}

.logo{
  display: inline-block;
  float: left;
}
.logo img{
  overflow: hidden;
  width: 60px;
  height: 60px;
}

.logo p{
  vertical-align: bottom;
  text-align: center;
  font-size: 8;
  font-family: sans-serif;
  margin: 0px;

}

.menu{
  display: inline-block;
  text-align: center;

}

.menulist{
  list-style-type: none;
  vertical-align: top;
  height: 60px;
  padding: 0px;
}

.menulist li{
  display: inline-block;
  float: left;
  height: 100%;
  width: 150px;

}

.menulist li a{
  display: inline-block;
  text-decoration: none;
  color:black;
  height: 60px;
  line-height: 58px;
  font-size: 18px;
  font-family: sans-serif;
  padding: 0 10px 0 10px;
  margin:
}

.menulist ul li{
  display: none;
}

.menulist ul li a{
  text-decoration: none;
  display: block;
  width: 150px;
  font-size: 16px;

}

.menulist li:hover .submenu {
  display: block;
}
